@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  .no-print { display: none !important; }
  body { background: white !important; }
  .print-only { display: block !important; }
}

.print-only { display: none; }
